<h2>[`MLM program`]</h2>

{if !empty($code)}

    <!-- referral -->
    <p>[`Homepage referral URL`]: <a href="{$wa->getUrl('shop/frontend', true)}?promo_id={$code}" class="highlighted referral-url">{$wa->getUrl('shop/frontend', true)}<strong>?promo_id={$code}</strong></a></p>
    <p>{sprintf('[`Alternatively, you may simply add your unique referral ID <span class="bold">%s</span> to any store URL, and it will be considered as your referral link. Examples:<br> %s`]',
        '?promo_id='|cat:$code,
        $wa->getUrl('shop/frontend', true)|cat:'product/some-product-link/?promo_id='|cat:$code|cat:'<br> '|cat:$wa->getUrl('shop/frontend', true)|cat:'category/some-category-link/?promo_id='|cat:$code)}</p>
        
    <p>{sprintf(_wp('Referral program <a href="%s" target="_blank">terms and conditions</a>.'), '?terms=1')}</p>

    {*include file="./report.html"*}
    
{else}

    <!-- not a referall partner yet -->
    <form action="" method="post">
    
        {$promo}
        
        <p><label><input type="checkbox" name="terms" value="1"> {sprintf(_wp('I have read and agree to the <a href="%s" target="_blank">Referral program terms and conditions</a>'), '?terms=1')}</label></p>
        
        <input type="submit" value="[`Apply for MLM program`]">
        
    </form>
    
{/if}