<h2>[`MLM program`]</h2>

{if !empty($code)}

    <!-- referral -->
    <p>[`Sign Up mlm user URL`]: <a href="{$wa->getUrl('shop/frontend', true)}mlm/signup/?mlm_id={$code}" class="highlighted referral-url">{$wa->getUrl('shop/frontend', true)}<strong>mlm/signup/?mlm_id={$code}</strong></a></p>
    {if isset($parent)}
        <p>
            [`Recommendation from:&nbsp;`]{$parent.name}
        </p>
    {/if}
{else}

    <!-- not a referall partner yet -->
    <form action="" method="post">

        {$promo}

        <p><label><input type="checkbox" name="terms" value="1"> {sprintf(_wp('I have read and agree to the <a href="%s" target="_blank">Referral program terms and conditions</a>'), '?terms=1')}</label></p>

        <input type="submit" value="[`Apply for MLM program`]">

    </form>

{/if}