<h2>[`MLM program`]</h2>

{if !empty($code)}

    <!-- referral -->
    <p>[`Sign Up mlm user URL`]: <a href="{$wa->getUrl('shop/frontend', true)}mlm/signup/?mlm_id={$code}" class="highlighted referral-url">{$wa->getUrl('shop/frontend', true)}<strong>mlm/signup/?mlm_id={$code}</strong></a></p>
    {if isset($parent)}
        <p>
            [`Recommendation from:&nbsp;`]{$parent.name}
        </p>
    {/if}

    <pre>
    {*$subtree|var_dump*}
    </pre>

    <div id="mlmCustomersTree">
        <ul>
            <li class="jstree-open">{$contact.name}
                {wa_print_tree tree=$subtree unfolded=true collapsible_class='jstree-open' class="menu-v customers-tree" elem ='---<a href="#" data-contact-id=":contact_id">:name</a>'}
            </li>
        </ul>
    </div>

    <div id="s-plugin-mlm-stats">
        <table>
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Количество людей</th>
                    <th>Сумма покупок</th>
                    <th>% начислений</th>
                    <th>Начислено</th>
                    <th>Не начислено</th>
                    <th>Причины</th>
                </tr>
            </thead>
            <tbody>
                {foreach $stats as $level=>$data}
                    <tr>
                        <td>{$level}</td>
                        <td>{$data.referral_count}</td>
                        <td>{wa_currency_html($data.purchases_total, 'RUB')}</td>
                        <td>{$data.percent}</td>
                        <td>{$data.bonuses_total}</td>
                        <td>{$data.missed_bonuses_total}</td>
                        <td>{implode(",", $data.reasons)}</td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
            
    {*var_dump($stats)*}

{else}

    <!-- not a referall partner yet -->
    <form action="" method="post">

        {$promo}

        <p><label><input type="checkbox" name="terms" value="1"> {sprintf(_wp('I have read and agree to the <a href="%s" target="_blank">Referral program terms and conditions</a>'), '?terms=1')}</label></p>

        <input type="submit" value="[`Apply for MLM program`]">

    </form>

{/if}

<style>
    .s-plugin-mlm-qtip { font-size: 14px}
</style>
<script>
    $(function () {
        $('#mlmCustomersTree').jstree();

        $('#mlmCustomersTree')
{*            .on("changed.jstree", function (e, data) {
                console.log(this, data);
            })
*}            .on("ready.jstree", function(){
                $(this).find("a[data-contact-id]").qtip({
                    content: { text: '{"Доход"|escape:javascript}: 1335.00 руб.' },
{*                    show: { event: 'click' },*}
                    position: { my: 'left center', at: 'right center'},
                    style: { classes: 's-plugin-mlm-qtip'}
                });
            });
    });
</script>