<div class="content">
    <div id="page" role="main">
        {if !empty($contact)}
            <h1>[`Thank you!`]</h1>
            <p>[`You have successfully signed up.`]</p>
        {else}
            <h1>[`Sign up`]</h1>
            {*$wa->authAdapters()*}
            {if isset($parent)}
                <p>
                    [`Recommendation from:&nbsp;`]{$parent.name}
                </p>
            {/if}
            {if $wa->shop}
                {shopMlmPluginViewHelper::getSignupForm($errors)}
            {/if}
        {/if}
    </div>
</div>