{*$parent|var_dump*}
{if isset($parent)}
    <p>
        [`Recommendation from:&nbsp;`]{$parent.name}
    </p>
{/if}
<p>
    {$terms}
</p>

<p>
<form method="post" action="{$affiliate_url}">
    [`MLM Code:`]<br />
    {if isset($parent)}
        <input type="text" name="mlm_code" value="{$code}" readonly ><br>
    {else}
        <input type="text" name="mlm_code" value=""><br>
    {/if}
    <input type="submit" name="terms_accept" value="[`Agree and accept`]">
    <input type="submit" name="no_accept" value="[`No accept`]">
</form>
</p>
